{% extends 'base.html' %}
{% block content %}
{{ block.super}}
{% load bootstrap4%}
<div class="container-fluid">
  <div class="all">
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-5">
        <div class="mine">
          <form id="dm" class="form-inline" role="search" action="{% url 'search_results' %}">

            <input class="form-control mr-sm-2 nav-item" style='padding-right:30px;width:120%' type="text" placeholder="Search Hair style.." aria-label="Search" name="business">
            <center><p>HINT: <em>fade</em></p></center>

          </form>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Welcome <strong>{{user}}</strong></h3>
        {% if user.is_authenticated %}

        <br>
        <br>
        <h6>Treding Hair Styles </h6>

        {% else %}
    </div>

      <div class="see">

      </div>

      {% endif %}

  </div>
</div>
{% endblock %}
